# 忽略 Keil 或其他 IDE 生成的临时文件
*.uvoptx
*.uvgui.*
*.sdf
*.bak
*.dep

# 忽略 IDE 配置（可选）
.vscode/

# 忽略日志与缓存
*.log
*.tmp

# 忽略 OS 临时文件
.DS_Store
Thumbs.db

#忽略source insight
/Fly_Control.si4project/

#STM32
# 编译生成的二进制文件
*.axf
*.bin
*.elf
*.hex

# 编译过程生成的中间文件
*.o
*.d
*.map
*.lst
*.crf
*.dep
*.sct
*.iex

# Keil MDK 生成的临时配置文件
*.uvgui.*
*.bak

# MDK 编译输出文件夹
**/Objects/
**/Listings/
**/DebugConfig/

# 其他 IDE 生成的隐藏文件夹
.vscode/
.idea/


# 忽略 VS Code 项目的工作区文件
*.code-workspace
